tmp/
data/
raw_data/
outputs/
cache/

*.pdf
*.xmind
*.pptx
*.docx
*.zip
*.rar
*.7z
*.tif
*.tiff
*.svs
*.ndpi
*.h5
*.hdf5
*.pt
*.pth

__pycache__/
.ipynb_checkpoints/
.venv/
venv/

Thumbs.db
Desktop.ini
